$grey-200: #EEEEEE;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$teal-500: #009688;
$red: #F44336;
$grey-footer: #f8f8f8;

$light-green: #4EB976;
$dark-green: #46AA6C;
$white: #FFFFFF;
$negro: #000000;
$rojo: #FF0000;

$user_default_color: #46AA6C;
$admin_default_color: #3B3C3C;
$default_text_color: #FFFFFF;
