<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Mi Negocio México</h1>

	<h4>Hola <%= @user.name %> </h4>
	<p>Tu contraseña se ha eliminado porfavor da click <%= link_to t('aqui'), edit_user_password_url %> para crear una nueva.</p>
</body>
</html>
