<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<p class ="texto-margin-bottom">
		<%=t('correos.empresa.saludo',nombre: User.find(@complaint.user).name)%>
	</p>
	<p class ="texto-margin-bottom">
		<%= t('correos.empresa.body',
		city: City.find(@complaint.city).name, 
		razon: COMPLAINTS[@complaint.reason], 
		domicilio: @complaint.user.address, 
		nombre: User.find(@complaint.user).business_name, 
		folio: @complaint.id,
		contacto: City.find(@complaint.city).contact_email) %>
	</p>
	<p class ="texto-margin-bottom">
		<%=t('correos.municipio.gracias')%>
	</p>
</body>
</html>
