<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%=t('correos.municipio.saludo')%></p>
    <p>
    </br>
	<%=t('correos.municipio.body', razon: COMPLAINTS[@complaint.reason], domicilio: @user.address)%>
		<%= link_to t('correos.municipio.liga_a_la_denuncia'), dashboard_report_url(@complaint.id) %>.
	</br>
	</br>
	<%=t('correos.municipio.gracias')%>
    </p>
  </body>
</html>
