<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p><%=t('correos.recordatorio.saludo')%></p>
    <p>
		<%= t('correos.recordatorio.body',nombre: @reminder.name, folio: @reminder.license, fecha: @reminder.until_to)%>
	</br>
	</br>
		<%= t('correos.recordatorio.gracias')%>
    </p>
  </body>
</html>
