<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<p class ="texto-margin-bottom">
		<%=t('correos.recordatorio.saludo')%>
	</p>
	<p class ="texto-margin-bottom">
		<%= t('correos.recordatorio.inactividad_html') %>
	</p>
	<p class ="texto-margin-bottom">
		<%=t('correos.recordatorio.inactividad_saludo')%>
	</p>
</body>
</html>
