<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<p class ="texto-margin-bottom">
		<%=t('correos.municipio.saludo',city: City.find(@complaint.city).name,)%>
	</p>
	<p class ="texto-margin-bottom">
		<%=t('correos.municipio.body', 
		city: City.find(@complaint.city).name, 
		razon: COMPLAINTS[@complaint.reason], 
		domicilio: Business.where(user_id: @complaint.user).last.address, 
		nombre: Business.where(user_id: @complaint.user).last.name, 
		folio: @complaint.id)%>
		<%= link_to t('correos.municipio.liga_a_la_denuncia'), dashboard_report_url(@complaint.id) %>.
	</p>
	<p class ="texto-margin-bottom">
		<%=t('correos.municipio.gracias')%>
	</p>
</body>
</html>
