<h2 class="text-center">Inicia sesión</h2>
<div id="social-sign-in" class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= link_to " | Facebook", user_omniauth_authorize_path(:facebook) , class: "btn btn-block btn-facebook fa fa-facebook" %>
    <%= link_to " | Linkedin", user_omniauth_authorize_path(:linkedin) , class: "btn btn-block btn-linkedin fa fa-linkedin" %>
  </div>
</div>
