<% if target.errors.any? %>  
<div id="errorExplanation">  
	<h2><%#= pluralize(target.errors.count, "error") %> Errores encontrados.</h2>  
	<p>Debes llenar correctamente los campos para poder continuar.</p>
</div>  
<% end %>