<footer class="footer">
  <div class="row">
    <div class="col-md-6 text-center margin-footer">
      <%= image_tag "Logoblanco.png", class: "img-responsive-footer center-block" %>
    </div>
    <div class="col-md-6 text-center">
      <ul class="list-inline texto-padding-left-little">
        <% if @city.present? %>
          <li class="text-center"><%= link_to t('footer.acerca_de'), city_about_path(@city) %></li> |
          <li class="text-center"><%= link_to t('footer.aviso'), city_aviso_path(@city) %></li> |
          <li class="text-center"><%= link_to t('footer.estandar'),  t('footer.url_estandar') , :target => "_blank" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</footer>
