<label>
  <input id="map-toogle" type='checkbox' onclick="toogleMap()" checked>&nbsp;
  <%= t('.show_businesses') %>
</label>

<div>
  <div id="gmap" style='height: 450px;'></div>
</div>

<!-- let's render our map -->
<script>
  initialize(<%= markers %>);
</script>
