<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <% if user_signed_in? %>
          <p class="navbar-text pull-right navbar-custom"><%= link_to "#{current_user}\t", edit_user_path(current_user) , data: { no_turbolink: true } %> | <%=link_to t('.salir'), destroy_user_session_path(:authenticity_token => form_authenticity_token()),:method => :delete, :class => 'a-verde'%>
          </p>
        <% else %>
          <%= link_to t('.iniciar_sesion'), new_user_path, :class => 'navbar-text pull-right navbar-custom manita'%>
        <% end %>
      </div>
    </div>
  </div>