/*
 *= require bootstrap3-switch
 *= require font-awesome
 *= require metisMenu/dist/metisMenu
 *= require timeline
 *= require sb-admin-2
 *= require morrisjs/morris
 *= require chosen
 *= require_tree ./admin
 *= require helpers
 *= require base
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 $grey-footer: #dddddd;

.panel-heading { padding: 5px 15px 15px 15px; }

.footer-admin{
	padding: 30px 15% 30px 15%;
	background-color: $grey-footer;
}
