/*
 *= require bootstrap3-switch
 *= require font-awesome
 *= require metisMenu/dist/metisMenu
 *= require timeline
 *= require sb-admin-2
 *= require morrisjs/morris
 *= require chosen
 *= require_tree ./admin
 *= require base
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 $grey-footer: #dddddd;


$default_margin_helpers: 15px;

.slight-bottom-margin{
  margin-bottom: $default_margin_helpers;
}

.slight-right-margin{
  margin-right: $default_margin_helpers;
}

.slight-left-margin{
  margin-left: $default_margin_helpers;
}

.slight-top-margin{
  margin-top: $default_margin_helpers;
}

.panel-heading { padding: 5px 15px 15px 15px; }

.footer-admin{
	padding: 30px 15% 30px 15%; 
	background-color: $grey-footer;
}
@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 0px;
    }
 }
 .margin-dashboard{
 margin: 3% 3% 3% 3%;
 }