/*
 *= require bootstrap3-switch
 *= require font-awesome
 *= require metisMenu/dist/metisMenu
 *= require timeline
 *= require sb-admin-2
 *= require morrisjs/morris
 *= require chosen
 *= require_tree ./admin
 *= require base
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


$default_margin_helpers: 15px;

.slight-bottom-margin{
  margin-bottom: $default_margin_helpers;
}

.slight-right-margin{
  margin-right: $default_margin_helpers;
}

.slight-left-margin{
  margin-left: $default_margin_helpers;
}

.slight-top-margin{
  margin-top: $default_margin_helpers;
}
