$verde-obscuro: #46aa6c;

#authentication {
  /*width: 320px;*/
  margin-left: 20%;
  margin-right: 20%;

  .field {
    margin-bottom: 15px;
  }
}

.dropdown-toggle {
  color: #fff !important;
}

.message{
	color: #ff0000;
}

.contorno{
  text-align: center !important; 
  background-image: none !important;
  border: 3px solid $verde-obscuro;
  padding-bottom: 10px;
  padding-left: 20px  !important;;
  padding-right: 20px  !important;;
  padding-top: 10px;
}