@import "public/variables";
@import "public/colors";
@import "bootstrap-sprockets";
@import "bootstrap";

.empty-resource {
  text-align: center;
  color: $grey-500;
}

.chosen-container ul.chosen-results li.highlighted {
  background-color: $light-green;
  background-image: none;
}
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  width: 100% !important;
}


.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0px 0px 0px 8px;
    height: 25px;
    border: 1px solid #AAA;
    border-radius: 5px;
    background-color: #FFF;
    background-clip: padding-box;
    box-shadow: 0px 0px 3px #FFF inset, 0px 1px 1px rgba(0, 0, 0, 0.1);
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
     height: 45px !important;
    padding-top: 10px !important;
}

.chosen-container-single .chosen-default {

    height: 45px !important;
    padding-top: 10px !important;
}

.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 18px;
    height: 100%;
    padding-top: 10px !important;
}
