$default_margin_helpers: 15px;
$default_table_row_done_color: #f5f5f5;

// block element helpers
.slight-bottom-margin{
  margin-bottom: $default_margin_helpers;
}

.slight-right-margin{
  margin-right: $default_margin_helpers;
}

.slight-left-margin{
  margin-left: $default_margin_helpers;
}

.slight-top-margin{
  margin-top: $default_margin_helpers;
}

// table element helpers
tr.done{
  background-color: $default_table_row_done_color;
}
