$default_margin_helpers: 15px;

.slight-bottom-margin{
  margin-bottom: $default_margin_helpers;
}

.slight-right-margin{
  margin-right: $default_margin_helpers;
}

.slight-left-margin{
  margin-left: $default_margin_helpers;
}

.slight-top-margin{
  margin-top: $default_margin_helpers;
}
