@import 'variables';
@import 'colors';

// Add colors to the menu
.navbar-user {
  background-color: $dark-green;
  border-width: 0;

  .navbar-nav > li > a {
    &:link {
      color: $blanco;
    }

    &:visited {
      color: $blanco;
      background-color: $light-green;
    }

    &:hover {
      color: $blanco;
      background-color: $light-green;
    }

    &:active {
      color: $blanco;
      background-color: $light-green;
    }
  }
}

// Remove the border
.navbar-fixed-top {
  border-width: 0;
}


// Add shadow to the menu
.z-depth-1, nav, .dropdown-content, .collapsible, .side-nav {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
