<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Mi Negocio México</h1>

	<h4>Hola <%= @resource.email %> </h4>
	<p>Si olvidaste tu contraseña porfavor da click <%= link_to t('aqui'),edit_password_url(@resource, reset_password_token: @token)%> para crear una nueva.</p>

	<p><strong>Tu contraseña no cambiará mientras no accedas a la liga.</stronge></p>
</body>
</html>
